/* Global*/ 
body {
    margin-top: 0px;
    background-color:  	#E0E0E0;

}
main {
    
    width: 80%;
    margin: auto;
    background-color: #F8F8F8;
    font-size: 16px;
}
/* Navigation*/ 
nav {
    display: flex;
    background-color: #C8C8C8;
    
}
.button:hover {
    background-color: #D0D0D0;
    text-decoration: underline;
}
/* Header*/ 
.title{
    text-align: center;
}

/* Header & Footer */

header,footer {

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1%;
 
}
table {
    width: 70%;
}
th {
    height: 5%;
}
td {
    text-align: center;
}
img {
    width: 20%;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: #E8E8E8;
    padding: 1%;
}
.button {
    padding: 0.5%;
}
ul {
    list-style-type: none;
}
.unrecycleables {
    list-style-type: none;
}
.unrecycleables-item {
    margin: 1%;
}
.hazzard {
    margin: 1%;
}
.redbin-container{
    display: grid;
    grid-template-areas: " top1 top2 top3 top44"
                         "intro1 intro2 intro3 intro4"
                         "content1 content2 content3 content4";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: solid red 1px;
    margin-top: 3%;
}
.leadbox1{
    grid-area: intro1;
    max-width: 40%;
}












.redbin-intro {
    grid-area: top1;
    margin-top: -30px;
    background-color: red;
    color: black;
    max-width: 50%;
    max-height: 18%;
}